body {
  font-family: Arial, sans-serif;
  background-color: rgb(99, 98, 98);
  background-image: url(/src/images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
